# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local

# Tauri
src-tauri/target
src-tauri/WixTools

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
